@media (min-width: 700px) {
body {
    background-image: url("Resources/Background.png");
    background-size: fit;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0em;
    padding-bottom: 0.1em;
}

.nav-bar {
    padding-top: 0;
    width: 100%;
    display: flex;
    align-items: left;
    gap: 2em;
    background-color: rgba(255, 255, 255, 0.45);
    border-radius: 10px;
}
.nav-buttons {
    padding-top: 0;
    width: 100%;
    display: flex;
    align-items: right;
    gap: 2em;
    background-color: none;
    border-radius: none;
}
.icon{
    height: 5em;
    width: auto;

}
.nav-button {
    display: inline-flex;
    border: none;
    background: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-decoration: none;
    font-family: "Intel One Mono";
    font-size: clamp(10px,3vw,27px);
    font-style: normal;
    font-weight: 400;
    color:white;
    justify-content: center;
    align-items: center;
}

nav :last-child {
    margin-right: 0.5em;
}

nav :first-child {
    margin-left: 0.5em;
}

.Hero {
    position: absolute;
    top: 50%;
    padding-left: 1em;
    width: 80%;
}


.Shape {
    width: 100%;
    height: 20%;
    display: block;
}


.hero-button {
    display: inline-flex;
    position: absolute;
    top: 67%;
    left: 55%;
    padding: 12px 20px;
    border: none;
    color: white;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    width: 40%;
    height: 20%;
    text-decoration: none;
    font-family: "Intel One Mono";
    font-size: clamp(10px,3vw,27px);
    font-style: normal;
    font-weight: 400;
    justify-content: center;
    align-items: center;


}
.hero-text-container {
    position: absolute;
    top:10%;
    left: 8%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: none;
    margin: 0;

}
h1{
    padding: 0;
    margin: 0;
    font-family: "Share Tech Mono";
    font-size:7vw;
    color: white;
}

h2{
    padding: 0;
    margin: 0;
    font-family: "Intel One Mono";
    font-size: 3vw;
    font-style: italic;
    color: white;
}
}
@media (max-width: 699px) {
body {
    background-image: url("Resources/Background.png");
    background-size: fit;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0em;
    padding-bottom: 0.1em;
}

.nav-bar {
    padding-top: 0;
    width: 100%;
    display: flex;
    align-items: right;
    gap: 2em;
    background-color: rgba(255, 255, 255, 0.45);
    border-radius: 10px;
}
.icon{
    height: 3em;
    width: auto;

}
.nav-button {
    display: inline-flex;
    border: none;
    background: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-decoration: none;
    font-family: "Intel One Mono";
    font-size: clamp(10px,3vw,27px);
    font-style: normal;
    font-weight: 400;
    color:white;
    justify-content: center;
    align-items: center;
}

nav :last-child {
    margin-right: 1em;
}

nav :first-child {
    margin-left: auto;
}

.Hero {
    position: absolute;
    top: 50%;
    padding-left: 1em;
    width: 80%;
}


.Shape {
    width: 100%;
    height: 20%;
    display: block;
}


.hero-button {
    display: inline-flex;
    position: absolute;
    top: 67%;
    left: 58%;
    padding: 0;
    border: none;
    color: white;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    width: 40%;
    height: 32%;
    text-decoration: none;
    font-family: "Intel One Mono";
    font-size: 2vw;
    font-style: normal;
    font-weight: 400;
    justify-content: center;
    align-items: center;


}
.hero-text-container {
    position: absolute;
    top:10%;
    left: 12%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: none;
    margin: 0;

}
h1{
    padding: 0;
    margin: 0;
    font-family: "Share Tech Mono";
    font-size:7vw;
    color: white;
}

h2{
    padding: 0;
    margin: 0;
    font-family: "Intel One Mono";
    font-size: 3vw;
    font-style: italic;
    color: white;
}
}